.code-container img{
    height:100px;
    width:100px;
    margin: auto;
}

.l3{
    font-size: 30px;
    color:white;
    font-family: MediaMatrix;
}

@media (max-width:980px) {
    .l3{
        font-size: 20px;
    }
}

