.nav {
    margin-bottom: 3rem;
}
.nav-logo {
    margin-right: auto;
}


.nav-button {
    width: 300px;
    height: 100px;
    border-radius: 40px !important;
    color: white;
    background-color: transparent;
    border: 3px solid #006765;
    margin-left: auto;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    list-style: none; 
    gap: 3rem; 
    padding: 0; 
    margin: 0;
}


.nav li {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem; 
    color: white; 
    text-align: center;
}


.nav li:hover {
    color: #ffcc00; 
}

@media (max-width: 600px) {
    .nav-list {
        flex-direction: column;
        gap: 1rem;
    }
}


.navlist.black-background {
    background-color: black;
    color: white; 
}

@media (max-width: 600px) {
    .hamburger-icon {
        z-index: 10;
    }
    .ham {
        z-index: 100;
        position: absolute;
        right: 0;
    }
    .nav-button {
        display: none;
    }
    .nav-logo {
        position: absolute;
    }
    .nav-logo img {
        width: 3.4rem;
    }
}