.track-text {
    color: white;
    font-size: 40px;
    font-weight: 800;
}

.home {
    position: relative; /* Context for positioning children */
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Prevent overflow issues */
}

.background {
    position: absolute; /* Cover the entire area */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/DefaultRed.png'); /* Change to your actual image */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; /* Make sure it stays at the back */
}